* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px; /* base size: 1rem = 16px */
}

body {
  color: #0f1111;
  font-family:'poppins';
  background-color: #E1EEBC;
  text-transform: capitalize;
  align-items: center;
}

.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.page-intro {
  margin-top: 1.6rem; /* 30px */
  font-size: 1rem; /* 27px */
  display: flex;
  justify-content: center;
}

h1 {
  display: inline-block;
  font-weight: 1000;
  font-size: 2.125rem; /* 50px */
  font-family: 'poppins';
  text-transform: uppercase;
}

#header {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 3;
}

#navbar {
  height: 2.4rem; /* 75px */
  width: 100%;
  background-color: #3a7d44;
  border-radius: 0.125rem;
  top: 6.25rem;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#nav-button {
  background-color:#6b4f3b;
  height: 100%;
  width: 1.6875rem; /* 27px */
  font-size: 1rem; /* 22px */
  border: none;
  border-radius: 0 0.375rem 0.375rem 0;
}

input {
  height: 100%;
  border: none;
  text-align: left;
  border-radius: 0.375rem 0 0 0.375rem;
}

.nav-item {
  text-decoration: none;
  font-family: 'poppins';
  font-size: 1rem; /* 35px */
  color: white;
  background-color: #3a7d44;
}

/* #classes {
    font-family: 'poppins';
} */

#searchbar {
  height: 1.6rem; /* 46px */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.16rem;
  background-color: #3a7d44;
}

.nav-item:hover {
  background-color: #E1EEBC;
  color: #3a7d44;
  border: 0.125rem #E1EEBC solid;
  border-radius: 0.5rem;
}

#first-sem {
  margin-top: 2.875rem; /* 110px */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#second-sem {
  margin-top: 2.375rem; /* 150px */
  margin-bottom: 1.25rem; /* 100px */
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border: 0.25rem solid #3a7d44; /* 4px */
  border-radius: 0.625rem; /* 10px */
  width: 100%;
  height: 22.5rem; /* 360px */
  font-size: 1rem; /* 27px */
  text-align: center;
}

th {
  height: 3rem; /* 55px */
  padding-top: 0.25rem; /* 4px */
  padding-bottom: 0.25rem;
  border-radius: 0.375rem;
  color: #ede6db;
  background-color: #3a7d44;
}

td {
  height: 2.5rem; /* 40px */
  padding-top: 0.2rem; /* 6px */
  padding-bottom: 0.2rem;
}

.odd_row {
  background-color: #f4d35e;
  color: #6b4f3b;
  border-radius: 0.375rem;
}

.even_row {
  background-color: #dab785;
  color: #6b4f3b;
  border-radius: 0.375rem;
}

.odd_row_material-link {
  text-decoration: none;
  color: #013c4f;
  background-color: #f4d35e;
}

.even_row_material-link {
  text-decoration: none;
  color: #013c4f;
  background-color: #dab785;
}

.odd_row_material-link:hover,
.even_row_material-link:hover {
  background-color: #3a7d44;
  color: #ede6db;
  border: 0.125rem #3a7d44 solid;
  border-radius: 0.375rem;
}

#footer {
  height: 4.8rem; /* 100px */
  width: 100%;
  background-color: #3a7d44;
  color: #ede6db;
  font-size: 1rem; /* 27px */
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (width<768px) {
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px; /* base size: 1rem = 16px */
}

body {
  color: #0f1111;
  font-family:'poppins';
  background-color: #E1EEBC;
  text-transform: capitalize;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: end;
}

.page-intro {
  margin-top: 1rem; /* 30px */
  font-size: 1rem; /* 27px */
  display: flex;
  justify-content: center;
}

h1 {
  padding: 10px;
  display: inline-block;
  font-weight: 1000;
  font-size: 1.3rem; /* 50px */
  font-family: 'poppins';
  text-transform: uppercase;
}

#header {
  width: 100%;
  position: relative;
  top: 0;
  z-index: 3;
}

#navbar {
  height: 20.6875rem; /* 75px */
  width: 100%;
  background-color: #3a7d44;
  border-radius: 0.2rem;
  top: 2.25rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input {
  height: 100%;
  border: none;
  text-align: left;
  border-radius: 0.375rem 0 0 0.375rem;
}

#nav-button {
  background-color:#6b4f3b;
  height: 100%;
  width: 1.6875rem; /* 27px */
  font-size: 1rem; /* 22px */
  border: none;
  border-radius: 0 0.375rem 0.375rem 0;
}

#searchbar {
  height: 1.875rem; /* 46px */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  background-color: #3a7d44;
}

.nav-item {
  text-decoration: none;
  font-size: 1.2rem; /* 35px */
  color: white;
  background-color: #3a7d44;
}

.nav-item:hover {
  background-color: #E1EEBC;
  color: #3a7d44;
  border: 0.2rem #E1EEBC solid;
  border-radius: 0.5rem;
}

.table-container {
  width: 100%;
  
  
  overflow-x: auto;
}

#first-sem {
  margin-top: 1.875rem; /* 110px */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#second-sem {
  margin-top: 2.375rem; /* 150px */
  margin-bottom: 1.25rem; /* 100px */
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  border: 0.25rem solid #3a7d44; /* 4px */
  border-radius: 0.625rem; /* 10px */
  width: 280%;
  height: 22.5rem; /* 360px */
  font-size: 1rem; /* 27px */
  text-align: center;
}

th {
  height: 3rem; /* 55px */
  padding-top: 0.25rem; /* 4px */
  padding-bottom: 0.25rem;
  border-radius: 0.375rem;
  color: #ede6db;
  background-color: #3a7d44;
}

td {
  height: 2.5rem; /* 40px */
  padding-top: 0.2rem; /* 6px */
  padding-bottom: 0.2rem;
}

.odd_row {
  background-color: #f4d35e;
  color: #6b4f3b;
  border-radius: 0.375rem;
}

.even_row {
  background-color: #dab785;
  color: #6b4f3b;
  border-radius: 0.375rem;
}

.odd_row_material-link {
  text-decoration: none;
  color: #013c4f;
  background-color: #f4d35e;
}

.even_row_material-link {
  text-decoration: none;
  color: #013c4f;
  background-color: #dab785;
}

.odd_row_material-link:hover,
.even_row_material-link:hover {
  background-color: #3a7d44;
  color: #ede6db;
  border: 0.125rem #3a7d44 solid;
  border-radius: 0.375rem;
}

#footer {
  height: 6.25rem; /* 100px */
  width: 100%;
  background-color: #3a7d44;
  color: #ede6db;
  font-size: 1.1rem; /* 27px */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}

 }



 