* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px; /* base size: 1rem = 16px */
}

body {
  color: #0f1111;
  font-family: monospace;
  background-color: #E1EEBC;
  text-transform: capitalize;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.uni-logo {
  display: inline-block;
  height: 5.25rem; /* 100px */
  width: 5.25rem;
}

h1 {
  display: inline-block;
  font-weight: 800;
  font-size: 2.125rem; /* 50px */
  font-family: monospace;
  text-transform: uppercase;
}

#navbar {
  height: 2.4rem; /* 75px */
  width: 100%;
  background-color: #3a7d44;
  border-radius: 0.125rem;
  top: 6.25rem;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

input {
  height: 100%;
  border: none;
  text-align: left;
  border-radius: 0.375rem 0 0 0.375rem;
}

#nav-button {
  background-color:#6b4f3b;
  height: 100%;
  width: 1.6875rem; /* 27px */
  font-size: 1; /* 22px */
  border: none;
  border-radius: 0 0.375rem 0.375rem 0;
}

#searchbar {
  height: 1.6rem; /* 46px */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.16rem;
  background-color: #3a7d44;
}

.nav-item {
  text-decoration: none;
  font-size: 1rem; /* 35px */
  color: white;
  background-color: #3a7d44;
}

.nav-item:hover {
  background-color: #E1EEBC;
  color: #3a7d44;
  border: 0.125rem #E1EEBC solid;
  border-radius: 0.5rem;
}
#departments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem; /* 40px */
  margin-bottom: 2.5rem;
}

#logo {
  position: relative;
  width: 40vw;
  max-width: 50rem; /* 800px */
  aspect-ratio: 1 / 1;
  background: url(COAE&T_withoutbg.png) center no-repeat;
  background-size: contain;
}

.section {
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.section:hover {
  transform: scale(1.25);
  z-index: 10;
}

/* Assuming logo is 800px for these %, the following are fine as-is */
#fmpe {
  height: 31.2%;
  width: 30.6%;
  top: 16.5%;
  left: 17.2%;
}

#swe {
  height: 31%;
  width: 30.6%;
  top: 16.2%;
  left: 18.4%;
}

#basic {
  height: 30%;
  width: 38%;
  top: 17.3%;
  left: 31%;
}

#rbee {
  height: 35%;
  width: 30%;
  top: 9%;
  right: 25.8%;
}

#pfe {
  height: 36%;
  width: 29%;
  top: -27.2%;
  left:55.5%;
}

#footer {
  height: 4.8rem; /* 100px */
  width: 100%;
  margin-top: 1.6rem;
  background-color: #3a7d44;
  color: #ede6db;
  font-size: 1rem; /* 27px */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}
@media (width<768px) {
  
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px; /* base size: 1rem = 16px */
}

body {
  color: #0f1111;
  font-family: monospace;
  background-color: #E1EEBC;
  text-transform: capitalize;
}


.uni-logo {
  display: inline-block;
  height: 3.25rem; /* 100px */
  width: 3.25rem;
}

h1 {
  display: inline-block;
  font-weight: 950;
  font-size: 0.9rem; /* 50px */
  font-family: monospace;
  text-transform: uppercase;
}

#navbar {
  height: 20.6875rem; /* 75px */
  width: 100%;
  background-color: #3a7d44;
  border-radius: 0.2rem;
  top: 6.25rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input {
  height: 100%;
  border: none;
  text-align: left;
  border-radius: 0.375rem 0 0 0.375rem;
}

#nav-button {
  background: color #6b4f3b;;
  height: 100%;
  width: 1.6875rem; /* 27px */
  font-size: 1.375rem; /* 22px */
  border: none;
  border-radius: 0 0.375rem 0.375rem 0;
}

#searchbar {
  height: 1.875rem; /* 46px */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  background-color: #3a7d44;
}

.nav-item {
  text-decoration: none;
  font-size: 1.4rem; /* 35px */
  color: white;
  background-color: #3a7d44;
}

.nav-item:hover {
  background-color: #E1EEBC;
  color: #3a7d44;
  border: 0.2rem #E1EEBC solid;
  border-radius: 0.5rem;
}



#media::-webkit-scrollbar {
  display: none;
}
/* Departments Section */

#departments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem; /* 40px */
  margin-bottom: 2.5rem;
}

#logo {
  position: relative;
  width: 70vw;
  max-width: 50rem; /* 800px */
  aspect-ratio: 1 / 1;
  background: url(COAE&T_withoutbg.png) center no-repeat;
  background-size: contain;
}

.section {
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.section:hover {
  transform: scale(1.25);
  z-index: 10;
}

/* Assuming logo is 800px for these %, the following are fine as-is */
#fmpe {
  height: 31.2%;
  width: 30.6%;
  top: 16%;
  left: 18%;
}

#swe {
  height: 31%;
  width: 30.6%;
  top: 16%;
  left: 17.4%;
}

#basic {
  height: 30%;
  width: 38%;
  top: 17%;
  left: 31%;
}

#rbee {
  height: 35%;
  width: 30%;
  top: 9%;
  right: 26%;
}

#pfe {
  height: 36%;
  width: 29%;
  top: -28%;
  left:55%;
}


#footer {
  height: 6.25rem; /* 100px */
  width: 100%;
  background-color: #3a7d44;
  color: #ede6db;
  font-size: 1.1rem; /* 27px */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}
}
