* {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'poppins';
  font-size: 16px; /* base size: 1rem = 16px */
}

body {
  color: #0f1111;
  font-family: 'poppins';
  background-color: #E1EEBC;
  /* text-transform: capitalize; */
  align-items: center;
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.uni-logo {
  display: inline-block;
  height: 5.25rem; /* 100px */
  width: 5.25rem;
  border-radius: 50%;
}

.uni-logo:hover{
  box-shadow: 0 0 0.5rem rgba(51, 96, 4, 0.829);
}

h1 {
  display: inline-block;
  font-weight: 800;
  font-size: 2.125rem; /* 50px */
  font-family: 'poppins';
  text-transform: uppercase;
}

#navbar {
  height: 2.4rem; /* 75px */
  width: 100%;
  background-color: #3a7d44;
  border-radius: 0.125rem;
  top: 6.25rem;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

input {
  height: 100%;
  border: none;
  text-align: left;
  border-radius: 0.375rem 0 0 0.375rem;
}

#nav-button {
  background-color:#6b4f3b;
  height: 100%;
  width: 1.6875rem; /* 27px */
  font-size: 1rem; /* 22px */
  border: none;
  border-radius: 0 0.375rem 0.375rem 0;
}

#searchbar {
  height: 1.6rem; /* 46px */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.16rem;
  background-color: #3a7d44;
}

.nav-item {
  text-decoration: none;
  font-size: 1rem; /* 35px */
  color: white;
  background-color: #3a7d44;
}

.nav-item:hover {
  background-color: #E1EEBC;
  color: #3a7d44;
  border: 0.125rem #E1EEBC solid;
  border-radius: 0.5rem;
}

#content {
  height: fit-content;
  width: 100%;
}

h2 {
  font-size: 1.8rem; /* 35px */
  font-weight: 1000;
  margin-left: 0.5rem; /* 30px */
  margin-top: 1.2rem;

}
#heading2 {
  text-align: center;
}
#welcome {
  font-size: 1rem;
  text-align: center;
}

#media {
  display: flex;
  overflow-x: auto;
  gap: 3.125rem; /* 50px */
  padding: 1.25rem; /* 20px */
  scroll-behavior: smooth;
  max-width: 100%;
  white-space: nowrap;
}

.photos {
  height: 23rem; /* 600px */
  width: 23rem;
  flex-shrink: 0;
  border: 0.3125rem #3a7d44 solid; /* 5px */
  border-radius: 0.625rem;
  display: flex;
  align-items:start;
  justify-content: center;
  font-size: 1.1rem; /* 30px */
}

/* .photos:hover {
  height: 23.5rem;
  width: 23.5rem;
} */

#photo-3 {
  background:url(kailash-hostel.webp) center no-repeat;
  background-size: contain;
}

#photo-2 {
  background:url(COAE&T.jpg) center no-repeat;
  background-size: contain;
}
#photo-1 {
  background:url(College-gate.png) center no-repeat;
  background-size: contain;
}
#photo-4 {
  background:url(agribackground.jpg) center no-repeat;
  background-size: contain;
}
#photo-5 {
  background:url(agribackground2.jpg) center no-repeat;
  background-size: contain;
}

#media::-webkit-scrollbar {
  display: none;
}

ul, p {
  font-size: 1rem; /* 27px */
}

marquee {
  height: 2.4rem; /* 50px */
  background-color: #3a7d44;
  color: #E1EEBC;
  font-size: 1rem; /* 40px */
  align-content: center;
}

.zoom {
  transform: scale(1.1);
  transition: 0.3s;
}


/* Departments Section */

#departments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem; /* 40px */
  margin-bottom: 2.5rem;
}

#logo {
  position: relative;
  width: 40vw;
  max-width: 50rem; /* 800px */
  aspect-ratio: 1 / 1;
  background: url(COAE&T_withoutbg.png) center no-repeat;
  background-size: contain;
}

.section {
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.section:hover {
  transform: scale(1.25);
  z-index: 10;
}

/* Assuming logo is 800px for these %, the following are fine as-is */
#fmpe {
  height: 31.2%;
  width: 30.6%;
  top: 15%;
  left: 17.2%;
}

#swe {
  height: 31%;
  width: 30.6%;
  top: 15%;
  left: 20%;
}

#basic {
  height: 30%;
  width: 38%;
  top: 17.3%;
  left: 31%;
}

#rbee {
  height: 35%;
  width: 30%;
  top: 8%;
  right: 25%;
}

#pfe {
  height: 36%;
  width: 29%;
  top: 9%;
  right: 15%;
}

#blockquote {
  font-size: 1rem; /* 28px */
  text-transform: capitalize;
  position: relative;
  bottom: 0;
  text-align: center;
}

#footer {
  height: 4.8rem; /* 100px */
  width: 100%;
  background-color: #3a7d44;
  color: #ede6db;
  font-size: 1rem; /* 27px */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  text-align: center;
}

@media (456px<width<768px) {
  
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px; /* base size: 1rem = 16px */
}

body {
  color: #0f1111;
  background-color: #E1EEBC;
  /* text-transform: capitalize; */
}


.uni-logo {
  display: inline-block;
  height: 3.25rem; /* 100px */
  width: 3.25rem;
}

.uni-logo:hover{
  box-shadow: 0 0 0.5rem rgba(51, 96, 4, 0.829);
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  display: inline-block;
  font-weight: 900;
  font-size: 1.1rem; /* 50px */
  font-family: 'poppins';
  text-transform: uppercase;
}

#navbar {
  height: 20.6875rem; /* 75px */
  width: 100%;
  background-color: #3a7d44;
  border-radius: 0.2rem;
  top: 6.25rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input {
  height: 100%;
  border: none;
  text-align: left;
  border-radius: 0.375rem 0 0 0.375rem;
}

#nav-button {
  background: #6b4f3b;;
  height: 100%;
  width: 1.6875rem; /* 27px */
  font-size: 1.375rem; /* 22px */
  border: none;
  border-radius: 0 0.375rem 0.375rem 0;
}

#searchbar {
  height: 1.875rem; /* 46px */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  background-color: #3a7d44;
}

.nav-item {
  text-decoration: none;
  font-size: 1.4rem; /* 35px */
  color: white;
  background-color: #3a7d44;
}

.nav-item:hover {
  background-color: #E1EEBC;
  color: #3a7d44;
  border: 0.2rem #E1EEBC solid;
  border-radius: 0.5rem;
}

#content {
  height: fit-content;
  width: 100%;
}

h2 {
  font-size: 1.2rem; /* 35px */
  text-decoration:wavy;
  font-weight: 1000;
  margin-left: 1rem; /* 30px */
  margin-top: 1rem;
}

#welcome {
  font-size: 1.1rem; /* 27px */
}

#media {
  display: flex;
  overflow-x: auto;
  gap: 3.125rem; /* 50px */
  padding: 1.25rem; /* 20px */
  scroll-behavior: smooth;
  max-width: 100%;
  white-space: nowrap;
}

.photos {
  height: 20.5rem; /* 600px */
  width: 20.5rem;
  flex-shrink: 0;
  border: 0.3125rem #3a7d44 solid; /* 5px */
  border-radius: 0.625rem;
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 1rem; /* 30px */
}

/* .photos:hover {
  height: 21rem;
  width: 21rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
} */

#media::-webkit-scrollbar {
  display: none;
}

ul, p {
  font-size: 1.1rem; /* 27px */
  /* margin-left: 1rem; */
}
marquee {
  height: 2.5rem; /* 50px */
  background-color: #3a7d44;
  color: #E1EEBC;
  font-size: 1.1rem; /* 40px */
  align-content: center;
}

/* Departments Section */

#departments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem; /* 40px */
  margin-bottom: 2.5rem;
}

#logo {
  position: relative;
  width: 70vw;
  max-width: 50rem; /* 800px */
  aspect-ratio: 1 / 1;
  background: url(COAE&T_withoutbg.png) center no-repeat;
  background-size: contain;
}

.section {
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.section:hover {
  transform: scale(1.25);
  z-index: 10;
}

/* Assuming logo is 800px for these %, the following are fine as-is */
#fmpe {
  height: 31.2%;
  width: 30.6%;
  top: 15%;
  left: 17%;
}

#swe {
  height: 31%;
  width: 30.6%;
  top: 15%;
  left: 20%;
}

#basic {
  height: 30%;
  width: 38%;
  top: 17%;
  left: 31%;
}

#rbee {
  height: 35%;
  width: 30%;
  top: 8%;
  right: 25%;
}

#pfe {
  height: 36%;
  width: 29%;
  bottom: 12%;
  right: 15%;
}

#blockquote {
  font-size: 1.1rem; /* 28px */
  text-transform: capitalize;
  position: relative;
  bottom: 0;
}

#footer {
  height: 6.25rem; /* 100px */
  width: 100%;
  background-color: #3a7d44;
  color: #ede6db;
  font-size: 1.1rem; /* 27px */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}
}
@media (width<456px) {
  
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px; 
}

body {
  color: #0f1111;
  background-color: #E1EEBC;

}


.uni-logo {
  display: inline-block;
  height: 3.25rem;
  width: 3.25rem;
}

.uni-logo:hover{
  box-shadow: 0 0 0.5rem rgba(51, 96, 4, 0.829);
}

#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

h1 {
  display: inline-block;
  font-weight: 900;
  font-size: 1.1rem;
  font-family: 'poppins';
  text-transform: uppercase;
}

#navbar {
  height: 20.6875rem;
  width: 100%;
  background-color: #3a7d44;
  border-radius: 0.2rem;
  top: 6.25rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

input {
  height: 100%;
  border: none;
  text-align: left;
  border-radius: 0.375rem 0 0 0.375rem;
}

#nav-button {
  background: #6b4f3b;;
  height: 100%;
  width: 1.6875rem; 
  font-size: 1.375rem; 
  border: none;
  border-radius: 0 0.375rem 0.375rem 0;
}

#searchbar {
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1875rem;
  background-color: #3a7d44;
}

.nav-item {
  text-decoration: none;
  font-size: 1.4rem; 
  color: white;
  background-color: #3a7d44;
}

.nav-item:hover {
  background-color: #E1EEBC;
  color: #3a7d44;
  border: 0.2rem #E1EEBC solid;
  border-radius: 0.5rem;
}

#content {
  height: fit-content;
  width: 100%;
}

h2 {
  font-size: 1.2rem; 
  text-decoration:wavy;
  font-weight: 1000;
  margin-left: 1rem; 
  margin-top: 1rem;
}

#welcome {
  font-size: 1.1rem; 
}

#media {
  display: flex;
  overflow-x: auto;
  gap: 3.125rem; 
  padding: 1.25rem; 
  scroll-behavior: smooth;
  max-width: 100%;
  white-space: nowrap;
}

.photos {
  height: 20.5rem; 
  width: 20.5rem;
  flex-shrink: 0;
  border: 0.3125rem #3a7d44 solid; 
  border-radius: 0.625rem;
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 1rem; 
}

#media::-webkit-scrollbar {
  display: none;
}

ul, p {
  font-size: 1.1rem; 
}
marquee {
  height: 2.5rem; 
  background-color: #3a7d44;
  color: #E1EEBC;
  font-size: 1.1rem; 
  align-content: center;
}



#departments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2.5rem; /* 40px */
  margin-bottom: 2.5rem;
}

#logo {
  position: relative;
  width: 70vw;
  max-width: 50rem; /* 800px */
  aspect-ratio: 1 / 1;
  background: url(COAE&T_withoutbg.png) center no-repeat;
  background-size: contain;
}

.section {
  position: relative;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.section:hover {
  transform: scale(1.25);
  z-index: 10;
}

/* Assuming logo is 800px for these %, the following are fine as-is */
 #fmpe {
  height: 31.2%;
  width: 30.6%;
  top: 15%;
  left: 17.4%;
}

#swe {
  height: 31%;
  width: 30.6%;
  top: 15%;
  left:20%;
}

#basic {
  height: 30%;
  width: 38%;
  top: 16.6%;
  left: 31%;
}

#rbee {
  height: 35%;
  width: 30%;
  top: 8%;
  right: 25%;
}

#pfe {
  height: 36%;
  width: 29%;
  bottom: 8%;
  right: 15%;

#blockquote {
  font-size: 1.1rem; /* 28px */
  text-transform: capitalize;
  position: relative;
  bottom: 0;
}

#footer {
  height: 6.25rem; /* 100px */
  width: 100%;
  background-color: #3a7d44;
  color: #ede6db;
  font-size: 1.1rem; /* 27px */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}
}
}

