body {
    font-size: 16px;
    font-family: 'poppins', 'sans-serif';
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.container {
    font-size: 20px;
    height: 480px;
    width: 90%;
    background-color: #E1EEBC;
    border: 2px solid #3a7d44;
    border-radius: 7px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: black;
    box-shadow: 0 0 1rem rgba(58, 125, 68, 1);

}

#username, #password {
    height: 35px;
    width: 80%;
    border: 1px solid #3a7d44;
    border-radius: 2.5px;
    text-align: center;
}

#username:focus, #password:focus {
    outline: none;
    border-color: #1e5631;
    box-shadow: 0 0 5px rgba(58, 125, 68, 0.5);
}

#login {
    height: 35px;
    width: 80%;
    background-color: #3a7d44;
    color: white;
    border: none;
    border-radius: 2.5px;
}
#login:hover {
     box-shadow: 0 0 0.5rem rgba(58, 125, 68, 0.829);
    cursor: pointer;
}
p {
    font-size: 15px; 
    display: none;
}

.error {
            color: red;
            font-size: 10px;
        }
.success {
            color: #3a7d44;
            font-size: 10px;
        }
.success-enter {
    display: none;
}
a {
    font-size: 15px;
    text-decoration: none;
}
@media (width<456px) {

#login-heading{
    text-align: center;
    font-size: 25px;
    font-weight: 1000;
}    

}